dist-*
.ghc.environment.*
cabal.project.local

.stack-work/

dist
cabal-dev
.hsenv_*
dist_*
.diagrams-cache
.cabal-sandbox
cabal.sandbox.config
examples/wp-test
history
TAGS

*.o
*.dyn_hi
*.dyn_o
*.hi
*.chi
*.chs.h
.virthualenv

*~
\#*\#

